body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.info {
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.rules {
  font: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10px;
}

.buttons button {
  margin: 10px 10px 0px 0px;
  width: 60px;
  border: black solid 1px;
  background-color: black;
  color: white;
  outline: none;
  font-size: 12px;
}

.active{
  background: black;
}

.inactive{
  background: #fff;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
